RewriteEngine On
RewriteBase /
rewriteCond %{http_host} m.baohezi.cn [NC]
rewriteRule ^(.*)$ http://www.baohezi.cn/wap$1 [R=301,L]
RewriteRule ^wap$ /index.php?C=Index&A=wap [L]
RewriteRule ^today_news$ /index.php?C=Index&A=today_news [L]
RewriteRule ^chain_news$ /index.php?C=Index&A=chain_news [L]
RewriteRule ^net_chain$ /index.php?C=Index&A=net_chain [L]
RewriteRule ^advert$ /index.php?C=Index&A=advert [L]
RewriteRule ^block_chain$ /index.php?C=Index&A=block_chain [L]
RewriteRule ^network_marketing$ /index.php?C=Index&A=network_marketing [L]
RewriteRule ^case_show$ /index.php?C=Index&A=case_show [L]
RewriteRule ^company_news /index.php?C=Index&A=company_news [L]
RewriteRule ^industry_news /index.php?C=Index&A=industry_news [L]
RewriteRule ^about /index.php?C=Index&A=about [L]
RewriteRule ^teams /index.php?C=Index&A=teams [L]
RewriteRule ^culture /index.php?C=Index&A=culture [L]
RewriteRule ^vision /index.php?C=Index&A=vision [L]
RewriteRule ^contact /index.php?C=Index&A=contact [L]
RewriteRule ^recruit /index.php?C=Index&A=recruit [L]
RewriteRule ^history /index.php?C=Index&A=history [L]
RewriteRule ^detail /index.php?C=Index&A=detail [L]
RewriteRule ^wap_today_news$ /index.php?C=Index&A=wap_today_news [L]
RewriteRule ^wap_chain_news$ /index.php?C=Index&A=wap_chain_news [L]
RewriteRule ^wap_block_chain$ /index.php?C=Index&A=wap_block_chain [L]
RewriteRule ^wap_net_chain$ /index.php?C=Index&A=wap_net_chain [L]
RewriteRule ^wap_case_show$ /index.php?C=Index&A=wap_case_show [L]
RewriteRule ^wap_network_marketing$ /index.php?C=Index&A=wap_network_marketing [L]
RewriteRule ^wap_advert$ /index.php?C=Index&A=wap_advert [L]
RewriteRule ^wap_industry_news$ /index.php?C=Index&A=wap_industry_news [L]
RewriteRule ^wap_company_news$ /index.php?C=Index&A=wap_company_news [L]
RewriteRule ^wap_about$ /index.php?C=Index&A=wap_about [L]
RewriteRule ^wap_teams$ /index.php?C=Index&A=wap_teams [L]
RewriteRule ^wap_culture$ /index.php?C=Index&A=wap_culture [L]
RewriteRule ^wap_vision$ /index.php?C=Index&A=wap_vision [L]
RewriteRule ^wap_history$ /index.php?C=Index&A=wap_history [L]
RewriteRule ^wap_contact$ /index.php?C=Index&A=wap_contact [L]
RewriteRule ^wap_recruit$ /index.php?C=Index&A=wap_recruit [L]
RewriteRule ^wap_detail$ /index.php?C=Index&A=wap_detail [L]
RewriteRule ^news_([\d]+)\.html$ /index.php?C=Index&A=newsList&id=$1 [L]
RewriteRule ^news_([\d]+)/([\d]+)\.html$ /index.php?C=Index&A=newsList&id=$1&page=$2 [L]
RewriteRule ^news-view_([\d]+)\.html$ /index.php?C=Index&A=newsInfo&id=$1 [L]
RewriteRule ^info_([\d]+)\.html$ /index.php?C=Index&A=contentInfo&id=$1 [L]
RewriteRule ^contactus$ /index.php?C=Index&A=contactus [L]
