<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>宝盒子</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/global.css?v=<?=time();?>">
    <link rel="stylesheet" href="/css/common.css?v=<?=time();?>">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_886258_i2ytjbpgoi.css" media="all" />

</head>
<body>
<header class="header">
    <div class="container">
        <a href="#" class="logo"><img src="/img/head-logo.png"></a>
        <div class="menu">
            <div class="index-nav-frame-line active" tabindex="-1">
                <a href="http://www.baohezi.me">网站首页</a>
            </div>
            <div class="index-nav-frame-line" tabindex="-1">
                产品服务<img class="pl-5" src="../img/xl.jpg">
                <div class="index-nav-frame-line-center">
                    <div class="index-nav-frame-line-li">
                        <a href="today_news_flash.html">今日快讯</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a href="chain_news.html">链讯</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a href="#">区快链开发</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a href="#">网络营销服务</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a href="#">案列展示</a>
                    </div>
                </div>
                <div class="index-nav-frame-line-focus" tabindex="-1"></div>
            </div>
            <div class="index-nav-frame-line" tabindex="-1">
                新闻动态<img class="pl-5" src="../img/xl.jpg">
                <div class="index-nav-frame-line-center">
                    <div class="index-nav-frame-line-li">
                        第三页面1
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面2
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面3
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面4
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面5
                    </div>
                </div>
                <div class="index-nav-frame-line-focus" tabindex="-1"></div>
            </div>
            <div class="index-nav-frame-line" tabindex="-1"><a href="#">招商加盟</a></div>
            <div class="index-nav-frame-line" tabindex="-1">
                关于我们<img class="pl-5" src="../img/xl.jpg">
                <div class="index-nav-frame-line-center ">
                    <div class="index-nav-frame-line-li">
                        第三页面1
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面2
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面3
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面4
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面5
                    </div>
                </div>
                <div class="index-nav-frame-line-focus" tabindex="-1"></div>
            </div>
            <div class="index-nav-frame-line " tabindex="-1">
                联系我们<img class="pl-5" src="../img/xl.jpg">
                <div class="index-nav-frame-line-center">
                    <div class="index-nav-frame-line-li ">
                        第三页面1
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面2
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面3
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面4
                    </div>
                    <div class="index-nav-frame-line-li">
                        第三页面5
                    </div>
                </div>
                <div class="index-nav-frame-line-focus" tabindex="-1"></div>
            </div>
        </div>
    </div>
</header>
<div class="space-180"></div>
<div class="box-height-1000 page-news-box">
    <h1 class="pt-80">全新玩法  快来体验</h1>
    <p class="pt-15 pb-15">今日快讯手机版，随时随地能赚钱</p>
    <span class="app-phone-code"><img src="../img/jrkx_03.png"></span>
    <div class="poster-img pt-50"><img src="../img/jrkx_06.png"></div>
</div>
<div class="box-height-1000 page-news-box">
    <h1 class="pt-80">好玩有趣,  都在这里</h1>
    <p class="pt-15">海量文字个性推荐，一手资讯 10秒送达</p>
    <div class="poster-img"><img src="../img/jrkx_08.png"></div>
</div>
<div class="box-height-1000 page-news-box">
    <h1 class="pt-80">随时随地，分享赚钱</h1>
    <p class="pt-15 pb-15">海量咨询任分享，现金收益轻松拿</p>
    <div class="poster-img"><img src="../img/jrkx_10.png"></div>
</div>
<div class="footer-container box-container">
    <div class="footer-area-box">
        <div class="link-text-box">
            <div class="footer-logo"><img src="../img/bottom-logo.png"></div>
            <div class="link-text">
                <a class="mr-50" href="#" >网站首页</a>
                <a class="mr-50" href="#">产品服务</a>
                <a class="mr-50" href="#">新闻动态</a>
                <a class="mr-50" href="#">招商加盟</a>
                <a class="mr-50" href="#">关于我们</a>
                <a href="#">联系我们</a>
            </div>
            <ul>
                <li class="mr-20 mt-23"><span class="iconfont icon-facebook"></span></li>
                <li class="mr-20 mt-23"><span class="iconfont icon-fabu1 active"></span></li>
                <li class="mr-20 mt-23"><span class="iconfont icon-weibiaoti504"></span></li>
                <li class="mr-20 mt-23"><span class="iconfont icon-tuitetwitter43"></span></li>
                <li class=" mt-23"><span class="iconfont icon-github"></span></li>
            </ul>
        </div>
        <em></em>
        <div class="address-box">
            <p><span class="pr-22">客服电话：133-0716-6750</span> <span>公司地址：徐东大街龙潭97号16楼</span> <span class="pl-40 pr-20"><img src="../img/weibo-bottom.png"></span><span><img src="../img/wechat-bottom.png"></span></span></p>
        </div>
        <div class="copyright-box">
            <p>武汉宝盒子科技有限公司 © 2011-2013 baohezi.cn鄂ICP备12004378号<span class="pl-40 pr-10"><img src="../img/check.png"></span>鄂公网安备 42011102001245号</p>
        </div>
    </div>
</div>
</body>
</html>